.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #808080; /* This sets the background color to gray */
}

.loading, .error {
  margin-top: 20px;
}

.npc-generator {
  /* Styles for the generator controls */
}

.npc-display {
  display: flex; /* Use flexbox to layout children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%;
  background-color: #808080; /* Gray background */
  padding: 20px 0; /* Padding at top and bottom */
}

.description {
  width: 33.33%; /* Set the width to 1/3 of the parent's width */
  margin: 10px auto; /* Auto margins on the sides centers the div horizontally */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-image: url('OIP.jfif'); /* Replace with the path to your image */
  background-size: cover; /* This stretches the image to cover the entire div */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-position: center; /* This centers the image in the div */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow to the box */

}

.description h2 {
  margin-top: 10;
}
